ELASTIC_PASSWORD=changeme
KIBANA_SYSTEM_PASSWORD=changeme
ES_ENCRYPTION_KEY=min-32-chars-random-string-here
KIBANA_ENCRYPTION_KEY=min-32-chars-random-string-here
KIBANA_SO_ENCRYPTION_KEY=min-32-chars-random-string-here
KIBANA_REPORTING_KEY=min-32-chars-random-string-here
